/**
 * fil: css/style.css
 **/
/* Variabler: genbruges og gør designvalg enkle */
:root {
  /* farver */
  --blue: #073590;
    --white: #ffffff;
    --graa: #eae5e5;
    --sort: #000000;
    /* fonte */
    font-family: 'forma-djr-banner', 'sans-serif';
    font-weight: 100;
    font-style: normal;

    font-family: 'bodoni-urw', 'serif';
    font-weight: 100;
    font-style: normal;
  }
/* Her bruges en variabel: --blue */
body {
  background-color: var(--white);
  margin: 0;
  padding: 0;
  font-family: 'forma-djr-banner, sans-serif';
}

.nav{
  background-color: var(--blue);
  list-style: none;
  text-align: right;
  border-top: 2px solid var(--sort);
  border-bottom: 2px solid var(--sort);
  margin: 0px;
}

.nav > li {

display: inline-block;
padding: 20px 25px 20px 25px;
font-size: 24px;
font-family: 'forma-djr-banner';
}

.nav > li > a {
    text-decoration: none;
    color: var(--white);
    float: right;
}

.nav > li > a:hover {
  color: #c1c1c1;
}



.NSS > a {
  float: left;
  display: inline-block;
  padding: 20px 25px 20px 200px;
  font-size: 30px;
  color: var(--white);
  font-family: 'forma-djr-banner';
  text-decoration: none;

}

.NSS > a:hover{
  color: #c1c1c1;
  background-color: inherit;
}


.banner{
  width: 100%;
  background-color: inherit;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 20px;

}

.banner-image{
  display: block;
  margin-left: 400px;
  height: 400px;
  width: 600px;
}

.text{
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  font-family: 'bodoni-urw';
  font-size: 18px;
}


/* Typografi */
h1{
  text-align: center;
  font-family: 'bodoni-urw';
  margin-top: 150px;
  font-size: 30px;
}

h2 {
  border-bottom: 2px solid var(--blue);
}

/* Footer stylling */

footer{
    background-color: var(--blue);
    color: var(--white);
    border-top: 2px solid var(--sort);
    border-bottom: 2px solid var(--sort);
    margin-top: 100px;
}

.footer-flex{
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      justify-content: center;
      justify-content: space-between;
      margin-left: 50px;
      margin-right: 50px;
      font-family: 'bodoni-urw';
}

.footer-nss{
  margin-right: 105px;
  font-family: 'bodoni-urw';
  font-size: 20px;
}
